<!DOCTYPE html>
<!-- Using base.html in partials folder as template-->
{% extends 'partials/base.html' %}
{% block title %}My Post Page{% endblock %}
{% load crispy_forms_tags %}    <!-- Crispy forms for styling forms-->

<!-- Content which needs to be inside base.html -->
{% block content %}
<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-5">
            <div class="card my-2">
                <div class="card-body">
                    <span class="h4">Profile</span>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="{{ user.profilemodel.image.url }}" alt="profile-img">
                        </div>
                        <div class="col-md-8">
                            <h4>Name: {{ user.username }}</h4>
                            <h4>Email: {{ user.email }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            {% for post in posts %}     <!-- Looping over all posts -->
            <div class="card my-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="{{ post.author.profilemodel.image.url }}" alt="image">
                        </div>
                        <div class="col-md-8">
                            <small> {{post.date_created}} </small>
                            <span><a class="btn btn-danger btn-sm float-right mx-2  " href="{% url 'blog-post-delete' post.id %}">Delete</a></span>
                            <span><a class="btn btn-primary btn-sm float-right" href="{% url 'blog-post-edit' post.id %}">Edit</a></span>
                            <hr>
                            <a class="h3" href="{% url 'blog-post-detail' post.id %}"> {{post.title}} </a>
                            <p class="text-justify my-3"> {{post.content}} </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}